<h1>Editing Party Relationship Type</h1>

<%= render 'form', party_relationship_type: @party_relationship_type %>

<%= link_to 'Show', @party_relationship_type %> |
<%= link_to 'Back', party_relationship_types_path %>
